.widget-whatsapp-btn {
	position: fixed;
    top: 440px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #29d15e;
    color: #fff;
    font-size: 40px;
    z-index: 100;
}

.widget-whatsapp-btn i {
	position: absolute;
	top: 5px;
	left: 8px;
}

#widget-whatsapp {
	position: fixed;
    bottom: 0px;
    right: 70px;
    z-index: 9999;
    background-color: #fff;
    width: 400px;
    height: 375px;
    display: none;
}

.bg-azul {
	background-color: #3c4d6b;
	color:  #fff;
}

.bg-cinza {
	background-color: #818285;
}

.whats-text {
	font-size: 1.5em;
    font-weight: 800;
}

.widget-close {
	position: absolute;
	top: 10px;
    right: 10px;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 1.2em;
}

.widget-form .form-control {
    border: 1px solid #818285;
    border-radius: 8px;
    height: 30px;
}