/*
Theme Name: Caliper Novo
Theme URI: http://www.caliper.com.br
Description: Template criado para a empresa Caliper
Version: 2.0
Author: RafaelDuim
Author URI: http://www.rafaelduim.com.br
Tags: Caliper
	Projeto
	Produtor: Rafael Duim [rafaelduim.com.br]
	Desenvolvedor   
        - WORDPRESS: RafaelDuim
        - HTML/CSS : Lucas Rego
*/

.widget-footer .submenu {
    list-style: none;
}

.widget-footer .submenu li::before {
    display: none;
}

.widget-footer .submenu li {
    margin: 0;
}

.widget-footer .submenu .sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget-footer .submenu .sub-menu li:before {
    display: block;
}

.widget-footer .submenu .sub-menu li {
    margin-bottom: 8px;
    margin-left: 15px;
}

.maps {
    height: 300px;
    width: 100%;
}

.st-pagination .wp-pagenavi {
    display: inline-block;
    margin: 0 auto;
}

.st-pagination .wp-pagenavi a,
.wp-pagenavi span {
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #9a9fab;
    text-decoration: none;
    font-size: 12px;
    border: 2px solid #c3c7d1;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    margin-right: 3px;
    margin-bottom: 5px;
    background-color: #fff;
    padding: 8px 13px;
}

.st-pagination .wp-pagenavi a:focus,
.st-pagination .wp-pagenavi a:hover,
.st-pagination .wp-pagenavi span:focus,
.st-pagination .wp-pagenavi span:hover {
    z-index: 2;
    color: #fff;
    background-color: #d71921;
    border-color: #d71921;
    border-radius: 4px;
}

.st-pagination .wp-pagenavi>a:first-child,
.st-pagination .wp-pagenavi>span:first-child {
    margin-left: 0;
    border-radius: 4px;
}

.st-pagination .wp-pagenavi>a:last-child,
.st-pagination .wp-pagenavi>li>span:last-child {
    border-radius: 4px;
}

.st-pagination .wp-pagenavi>.current,
.st-pagination .wp-pagenavi>.current:focus,
.st-pagination .wp-pagenavi>.current:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #d71921;
    border-color: #d71921;
    border-radius: 4px;
}


/*
 * Toastr
 * Version 2.0.1
 * Copyright 2012 John Papa and Hans Fjällemark.  
 * All Rights Reserved.  
 * Use, reproduction, distribution, and modification of this code is subject to the terms and 
 * conditions of the MIT license, available at http://www.opensource.org/licenses/mit-license.php
 *
 * Author: John Papa and Hans Fjällemark
 * Project: https://github.com/CodeSeven/toastr
 */

.toast-title {
    font-weight: 500;
    font-size: 1.2em;
}

.toast-message {
    font-size: 1em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.toast-message {
    list-style: none;
}

.toast-message a,
.toast-message label {
    color: #ffffff;
}

.toast-message a:hover {
    color: #cccccc;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}


/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

#toast-container {
    position: fixed;
    z-index: 999999;
    /*overrides*/
}

#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#toast-container>div {
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 0;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
    opacity: 1;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
}

#toast-preview>div {
    margin: 32px 0 0 28px;
    padding: 15px 15px 15px 50px;
    max-width: 300px;
    border-radius: 0;
    background-position: 15px center;
    background-repeat: no-repeat;
    color: #ffffff;
    opacity: 1;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
}

#toast-container> :hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: .8;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    cursor: pointer;
}

#toast-container>.toast-info,
#toast-preview>.toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

#toast-container>.toast-error,
#toast-preview>.toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

#toast-container>.toast-success,
#toast-preview>.toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container>.toast-warning,
#toast-preview>.toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#toast-container.toast-top-full-width>div,
#toast-container.toast-bottom-full-width>div {
    width: 96%;
    margin: auto;
}

.toast {
    background-color: #030303;
}

.toast-success {
    background-color: #51a351;
}

.toast-error {
    background-color: #bd362f;
}

.toast-info {
    background-color: #2f96b4;
}

.toast-warning {
    background-color: #f89406;
}

.cadastre-se a::after {
    display: none;
}

.navbar-brand-mobile img {
    width: 55px;
    height: auto;
}

@media screen and (max-width:900px) {
    #navbar-top a::after {
        display: none;
    }
}

.barra-lateral {
    transition: .5s;
    position: fixed;
    right: -350px;
    width: 350px;
    z-index: 100;
    top: 120px;
}

.barra-lateral.active {
    right: 0;
}

.botao-barra {
    background-color: #d91f16;
    color: #fff;
    height: 30px;
    width: 220px;
    text-align: center;
    padding: 5px;
    position: fixed;
    border-radius: 6px 6px 0 0;
    font-weight: 700;
    right: 255px;
    top: 95px;
}

.botao-barra .glyphicon {
    color: #fff;
    padding: 5px 9px;
}

.mp-pusher {
    -webkit-transition: -webkit-transform ease-in-out 0.7s;
    transition: transform ease-in-out 0.7s;
    text-align: center;
    border-bottom: 2px solid #d91f16;
    border-top: 2px solid #d91f16;
    border-left: 2px solid #d91f16;
}

.titulo-barra {
    background-color: #f4f6f8;
    padding: 20px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #d91f16;
    font-weight: 700;
    font-style: italic;
    line-height: 110%;
}

.conteudo-barra {
    padding: 20px;
    background: #fff;
}

.conteudo-barra p {
    line-height: 1.2;
}

.conteudo-barra .form-control {
    height: 34px;
    padding: 6px 12px;
}

.conteudo-barra .form-group input {
    border: 1px solid #f4f6f8;
}

.conteudo-barra .form-group select {
    border: 1px solid #f4f6f8;
    color: #555;
}

.conteudo-barra .btn {
    padding: 12px;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#midia a.imgVideo {
    max-height: 166px;
    overflow: hidden;
}


/* 18 de maio */

.tag2 div {
    font-size: 16px !important;
}

.titulo-barra {
    font-family: inherit !important;
}

#slider .owl-pagination {
    display: none;
}

.programa {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-bottom: 40px;
}

.btn-lg {
    white-space: normal !important;
    line-height: 1.2 !important;
}

.barra-lateral {
    top: 70px;
}

.acf-map {
    margin-bottom: 40px;
}

.top-bar small {
    display: block;
    font-size: 10px;
    line-height: 1;
}

.list-inline>li {
    vertical-align: top;
    margin-bottom: 8px;
}

/* lucas - 30 maio 17 */

.logo h1 {
    text-indent: -99999px;
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px,1px,1px,1px);
}
#blog .section-title h2 {font-size:48px; line-height:44px;}
.curso .hCursoIn {font-style: normal; line-height:1.4;}
.post-holder .bg-white h3{margin: 20px 0;}




.widget-rod-col {
    font-size: 18px !important;
}

.widget-tit {
    margin-bottom: 5px;
    color: #818285
}

.widget-text li {
    display: block !important;
    float: left;
    padding: 0 3px 0 0;
    line-height: 23px !important;
}

.widget-text ul {
    font-size: 18px !important; 
}
 
.newsforms div {
    padding: 0;
}

.newsforms .btn {
    border: 2px solid #e6ecef;
    padding: 18px;
}

.widget-text li.number-tel {
    width: 45%;
}
.widget-text li.full-width {
    width: 100%;
} 
.section-space40 .widget-text:last-child li.full-width:last-child {
    display: none !important;
}
.widget-text li span {
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    margin: 0;
    width: 100%;
    height: 23px;
}

@media screen and (max-width:900px) {
    .newsforms div {
        padding: 0 10px;
    }
    .widget-text li.number-tel {
        width: 100%;
    }
    .widget-text li span {
        height: auto;
    }
}
.cursoIn h1{font-size:36px; line-height: 32px;}
#blog .pinside30 h3{font-style:inherit; font-weight:inherit; font-size:inherit; font-color:inherit; line-height:inherit;}