/*** nbs-flexisel ***/

#flexiselDemo1{
display:none;
}

#flexiselDemo1 div{
	background:#D7181F;
	border-radius:0 0 6px 6px;
	color:#fff;
	height: 50px;
	padding: 10px 5px;
	line-height: 1;
	width:120px;
	font-size:11px;
	display:table-cell;
	vertical-align:middle;
}
.nbs-flexisel-container {
    position:relative;
    max-width:100%;
	margin-top:20px;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;
	height:200px;
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
}
.nbs-flexisel-item li {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:120px;
    max-height:200px;
}
.nbs-flexisel-item img{
	border-radius:6px 6px 0 0;
	width:120px;
	height:auto;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(button-next.png) no-repeat;
}